<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
</head>

<body>
<div class="container">
    <h1>Greetings</h1>
    <form action="/hello" method="post">
        <div class="ui icon input">
            <input type="text" name="username" required placeholder="Type your name">
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" required name="language" value="english" class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">English</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" required name="language" value="zulu" class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">Zulu</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio3" required name="language" value="xhosa" class="custom-control-input">
            <label class="custom-control-label" for="customRadio3">Xhosa</label>
        </div>

        <button type="submit" class="ui secondary button">
            Post
        </button>
    </form>
    <div class="greetMessage">
        {{greeting}}
    </div>
    <div class="greetedNamesList">
        <ul>
            {{#each users}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>

    <div class="counter">
        Counter: {{counter}}
    </div>
</div>
</body>

</html>